<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employee Management System</title>
</head>
<body>
<div>
<h1>Employee Management System</h1>
<br>
<div class="card">


<form action="" method="post">
<h3 align="center">Login </h3>
<input type="text" placeholder="enter your username"> <br>
<input type="password" placeholder="Enter your password"> <br>
<a th:href="">Click to create account</a>
<input type="submit">

</form>
</div>

</div>
</body>
</html>